*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
  margin-top: 10%;
  margin-left: 500px;
  border: none;
  box-shadow: 10px 7px 46px -4px rgba(43,97,158,1);
  width: 500px;
  height: 400px;
  padding: 15px;
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(195,180,217,1) 48%, rgba(148,187,233,1) 100%);
  border-radius: 8px;
}
.title-text {
    color: black;
    font-family: cursive;
    font-size: 28px;
}
.time{
    margin-top: 25px;
}
#timeInput{
    background-color:antiquewhite;
    border: none;
    padding: 7px;
    box-shadow: 10px 7px 46px -4px rgba(43,97,158,1);
    border-radius: 5px;
    transition: 0.1s;
}
#timeInput:hover{
    background-color: transparent;
    border: none;
}
#set_time{
    margin-top: 25px;
    margin-left: 10px;
    background-color:antiquewhite;
    border: none;
    padding: 7px;
    box-shadow: 10px 7px 46px -4px rgba(43,97,158,1);
    border-radius: 5px;
    transition: 0.1s;
}
#set_time:hover{
    background-color: transparent;
}
.set_stop{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
#set_alarm, #stop_alarm{
  
    margin-left: 10px;
    background-color:antiquewhite;
    border: none;
    padding: 7px;
    box-shadow: 10px 7px 46px -4px rgba(43,97,158,1);
    border-radius: 5px;
    transition: 0.1s;
    width: 100px;
    text-align: center;
}
#set_alarm:hover, #stop_alarm:hover{
    background-color: transparent;
}

#time_set{
    color:black;
    color:grey;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
.live-time{
    margin-top: 15px;
}
#liveTime{
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#alarm_message{
    margin-top: 10px;
    color: black;
    font-size: 20px;
    color:grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
